@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #625548;
	--black-color: #000000;
	--surface-color: #eeedeb;
	--border-color: gray;
}

body {
	background-color: var(--surface-color);
	font-family: 'Reggae One', 'sans-serif';
	color: var(--primary-color);
}

/* MAIN */

main {
	padding: 1rem;
}
/* HEADER */

.header {
	padding: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--surface-color);
	z-index: 1000;
}

.logo {
	width: 3rem;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.nav-link {
	list-style: none;
}

.nav-link a {
	text-decoration: none;
	color: #444;
	font-size: 1.5rem;
	font-weight: 100;
}

.custom-line {
	height: 1px;
	align-self: center;
	background-color: var(--border-color);
}

.custom-line.long {
	width: 40%;
}

.custom-line.short {
	width: 4%;
}

.header-small-screen {
	display: none;
}

/* SECTION */

section {
	min-height: 100vh;
	text-align: center;
	padding-top: 6rem;
}

/* HERO SECTION */

.hero-section {
	padding-top: 8rem;
	display: flex;
	flex-direction: column;
	gap: 6rem;
	text-transform: uppercase;
	padding-bottom: 6rem;
}

.hero-section-main-content-wrapper {
	display: flex;
	width: 100%;
}

.hero.text-wrapper {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-transform: uppercase;
}

.hero.text-wrapper div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem 1rem 0.3rem 1rem;
}

.hero-btn {
	padding: 0.5rem 0.2rem;
	border: 1px solid var(--border-color);
}

.hero-btn:hover {
	cursor: pointer;
}

.hero.image-wrapper {
	width: 70%;
}

.profile-photo {
	width: 100%;
	object-fit: cover;
	max-height: 600px;
}

.hero-section-info-container {
	width: 100%;
	padding: 0 0 0 1rem;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero.info-title {
	display: flex;
	justify-content: space-between;
}

.hero.custom-line {
	height: 1px;
	background-color: var(--border-color);
	width: 74%;
}

.hero.info {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.hero.info-card {
	width: 32%;
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	transition: 300ms ease;
}

.hero.info-card:hover {
	cursor: pointer;
}

.hero.info-card img {
	width: 70%;
}

.info-card .hero-btn {
	padding: 0.5rem 1rem;
}

/* TOUR DATES SECTION */

.tour-dates-section {
	min-height: 70vh;
}

.tour-dates-section {
	background-color: white;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	gap: 3rem;
}

.tour-dates.title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: -0.2rem;
	word-spacing: -0.3rem;
}

.tour-dates.buttons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.tour-dates-btn {
	padding: 0.5rem 0.5rem;
	border: 1px solid var(--border-color);
	width: 100%;
	font-size: 1.2rem;
}

.tour-dates-btn:hover {
	cursor: pointer;
}

/* DIRECTED PROJECTS */

.directed-projects-section {
	min-height: 50vh;
}

.directed-projects-section h2 {
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.videos-container {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	position: relative;
}

.video-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.fa-less-than {
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}
.fa-arrow-left {
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}
.fa-greater-than {
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}
.fa-arrow-right {
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

/* CONTACT SECTION */

.contact-section {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.contact-section h2 {
	text-transform: uppercase;
}

.form-elements-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	align-items: center;
	justify-content: center;
}
.form-container {
	width: 100%;
}

.input-fields-container {
	width: 100%;
}

.input-fields-container input,
select {
	width: 30%;
	border: none;
	border-bottom: 1px solid var(--border-color);
	text-align: center;
	text-transform: uppercase;
	font-family: 'Reggae One', 'sans-serif';
	font-weight: 300;
	background-color: var(--surface-color);
}

.input-fields-container input:focus,
select:focus {
	outline: none;
	border-bottom-color: var(--primary-color);
}

.form-elements-wrapper p {
	font-size: 0.8rem;
	max-width: 60%;
}

form button {
	padding: 0.5rem 1rem;
	border: 1px solid var(--border-color);
	text-transform: uppercase;
	font-family: 'Reggae One', 'sans-serif';
}

/* FOOTER */

footer {
	padding: 0 1rem;
}

.footer-contents-wrapper {
	padding: 2rem;
	border-top: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-contents-wrapper ul {
	display: flex;
	gap: 1rem;
}

footer a {
	text-decoration: none;
	color: var(--primary-color);
	text-transform: uppercase;
	font-size: 0.8rem;
}

footer li {
	list-style: none;
}

.social-icon {
	font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
	/* HEADER */

	.header {
		display: none;
	}

	.header-small-screen {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.header-small-screen-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: var(--surface-color);
		padding: 2rem;
	}

	.ofScreen-menu {
		display: none;
		flex-direction: column;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
	}

	.ofScreen-menu.active {
		display: flex;
		background-color: var(--surface-color);
		z-index: 999;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 2rem;
		gap: 6rem;
	}

	.ofScreen-menu ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.inactive {
		display: none;
	}

	.fa-bars {
		font-size: 2rem;
	}

	/* HERO SECTION */

	.hero-section-main-content-wrapper {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.hero.hero.text-wrapper {
		width: 100%;
	}

	.hero.info-title {
		display: flex;
		flex-direction: column;
	}

	.hero.info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.hero.info-card {
		width: 100%;
	}

	.videos-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
	}

	.fa-less-than {
		top: 110%;
		left: 1rem;
	}
	.fa-arrow-left {
		top: 110%;
		left: 1rem;
	}

	.fa-greater-than {
		top: 110%;
		right: 1rem;
	}
	.fa-arrow-right {
		top: 110%;
		right: 1rem;
	}

	/* CONTACT SECTION */

	.contact-section {
		gap: 0.5rem;
		margin-top: 3rem;
	}

	.input-fields-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.input-fields-container input,
	select {
		width: 100%;
	}

	.form-elements-wrapper p {
		max-width: 100%;
	}

	.footer-contents-wrapper {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem;
	}

	.footer-contents-wrapper ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.2rem;
	}

	.footer-contents-wrapper a {
		text-align: center;
	}

	.footer-contents-wrapper ul:nth-child(2) {
		display: flex;
		flex-direction: row;
	}

	.footer-text {
		text-align: end;
	}
}

/* IPADS SCREENS */

@media screen and (min-with: 768px) and (max-width: 1050px) {
	.custom-line {
		display: none;
	}

	/* HEADER */

	/* HERO SECTION */

	/*  */
}

/* SMALL LAPTOPS */

@media screen and (min-width: 1110px) and (min-width: 1280px) {
	/* HEADER */

	.header a {
		font-size: 1.3rem;
	}

	/* HERO SECTION */

	.hero.image-wrapper {
		width: 60%;
	}

	.hero.image-wrapper img {
		max-height: 500px;
	}

	.hero.text-wrapper {
		width: 40%;
	}

	.hero.custom-line {
		width: 60%;
	}

	/* CONTACT SECTION */

	.contact-section h2 {
		font-size: 3rem;
	}

	.input-fields-container {
		display: flex;
		gap: 0.5rem;
	}

	.input-fields-container input,
	select {
		width: 50%;
	}

	.form-elements-wrapper p {
		max-width: 80%;
		font-size: 1rem;
	}

	.form-elements-wrapper button {
		font-size: 1.5rem;
	}

	/* FOOTER */

	.footer-contents-wrapper {
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;
	}

	.footer-contents-wrapper ul:nth-child(1) {
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 1.4rem;
		padding: 0 2rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
	/* HEADER */

	.header a {
		font-size: 1.4rem;
	}

	/* HERO SECTION */

	.hero-section-main-content-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	.hero.image-wrapper {
		width: 100%;
	}

	.hero.image-wrapper img {
		max-height: 500px;
	}

	.hero.text-wrapper {
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.hero.info-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.hero.info {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.hero.info-card {
		width: 40%;
	}

	/* CONTACT SECTION */

	.contact-section h2 {
		font-size: 2rem;
	}

	.input-fields-container {
		display: flex;
		gap: 0.5rem;
	}

	.input-fields-container input,
	select {
		width: 50%;
	}

	.form-elements-wrapper p {
		max-width: 80%;
		font-size: 1rem;
	}

	.form-elements-wrapper button {
		font-size: 1.5rem;
	}

	/* FOOTER */

	.footer-contents-wrapper {
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;
	}

	.footer-contents-wrapper ul:nth-child(1) {
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 1.4rem;
		padding: 0 2rem;
	}
}
